.wrapper-1 {
	background-image: url("https://media.discordapp.net/attachments/957337496847519754/957426849280036864/room2.webp");
	background-attachment: fixed;
}

.wrapper-2 {
	background-image: url("https://cdn.discordapp.com/attachments/957337496847519754/958802800895229952/floating.webp");
}

.wrapper-1,
.wrapper-2 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container-1__text-container {
	background-color: rgba(16, 24, 32, 0.95);
}

.container-1__text {
	background: linear-gradient(150deg, #eee 20%, #f2aa4cff 80%) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	background-clip: text !important;
	color: whitesmoke;
}
