@media only screen and (max-width: 1200px) {
	.container-1 {
		padding-top: 5rem !important;
		justify-content: center !important;
		margin: 0 2rem !important;
	}

	.container-1__img {
		margin: 2rem 0 !important;
		width: 300px !important;
		height: auto !important;
	}

	.container-1__text-container {
		margin: 0 !important;
		width: 60% !important;
		border-radius: 0 !important;
	}

	.container-1__text {
		font-size: 1.1rem !important;
	}
}

@media only screen and (max-width: 830px) {
	.container-1 {
		padding-top: 0rem !important;
		margin: 0 !important;
	}

	.container-1__img {
		width: 240px !important;
	}

	.container-1__text-container {
		width: 100% !important;
	}

	.container-1__text {
		font-size: 1rem !important;
	}
}

.wrapper-1 {
	background-image: url("https://thatanonyg-personal.s3.ap-south-1.amazonaws.com/beanmakers/room_bg.webp");
	background-attachment: fixed;
}

.wrapper-2 {
	background-image: url("https://thatanonyg-personal.s3.ap-south-1.amazonaws.com/beanmakers/floating_bean_bg.webp");
}

.wrapper-1,
.wrapper-2 {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container-1__text-container {
	background-color: rgba(16, 24, 32, 0.95);
}

.container-1__text {
	background: linear-gradient(150deg, #eee 20%, #f2aa4cff 80%) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	background-clip: text !important;
	color: whitesmoke;
}
