.navbar {
	transform: translateX(-50%);
	background: transparent;
}

@keyframes fill-slider {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

.navbar__btn {
	position: relative;
	color: whitesmoke !important;
	margin: 0 8px !important;
	font-size: 1rem !important;
}

.navbar__btn:hover {
	background-color: transparent !important;
}

.navbar__btn:hover > .navbar__btn__slider {
	width: 100%;
}

.navbar__btn__slider {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 90%;
	width: 0%;
	height: 2.5px;
	background-color: #2db0fc;
	transition: width 0.4s ease-in-out;
}

.navbar__btn-active > .navbar__btn__slider {
	animation: fill-slider 0.5s ease-in-out 1.5s 1 forwards;
}

.nav__btn-icon {
	color: whitesmoke !important;
	transition: color 0.4s ease-in-out !important;
}

.nav__btn-icon:hover {
	color: #2db0fc !important;
}

.navbar__account-info__login {
	--position: 0%;
	background: linear-gradient(
			90deg,
			rgba(110, 45, 252, 1),
			#f2aa4cff 51%,
			rgba(110, 45, 252, 1)
		)
		var(--position, 0) / 200% !important;
	width: 15rem !important;
	height: 3.2rem !important;
	color: whitesmoke !important;
	transition: all 0.4s ease-in !important;
}

.navbar__account-info__login:hover {
	--position: 100% !important;
}

.navbar__account-info__wallet {
	color: whitesmoke !important;
	border-radius: 5px !important;
}

.navbar__account-info__wallet__copy {
	color: #2db0fc !important;
	margin-left: 5px;
	transition: color 0.25s ease-in !important;
}

.navbar__account-info__wallet__copy:hover {
	color: #f2aa4cff !important;
}

.navbar__account-info__logout {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	color: #f2aa4cff !important;
	margin: 10px !important;
	transition: color 0.25s ease-in !important;
}

.navbar__account-info__logout:hover {
	color: whitesmoke !important;
}
